@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;800;900&display=swap);



.foraging {
    padding-top: 128px;
    padding-bottom: 128px;
}

.foraging__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    margin-bottom: 12px;
}
.foraging__text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    margin-bottom: 32px;
}
.foraging__list {
    display: flex;
    justify-content: space-between;
}
.foraging__item {
    width: 361px;
    background-color: var(--brown-2);
    padding: 16px;
    border-radius: 12px;
}

.foraging__item > img {
    margin-bottom: 16px;
}

.foraging__item > h3 {
    font-family: var(--main-font);
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    margin-bottom: 16px;
    color: var(--primary);

}

.foraging__item > p {
    font-family: var(--main-font);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: var(--gray);
}